@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

:root {
    --background: #59D5E0;
    --container: #ecd771;
    --button: #f3749e;
    --text: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background);
}

.container {
    width: 500px;
    border-radius: 10px;
    background-color: var(--container);
    padding: 20px;
    user-select: none;
    border: 5px solid rgb(22, 21, 21);
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 10px;
    border-bottom: 1px solid var(--text);
}

.content .word {
    font-size: 40px;
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
}

.details {
    font-size: 20px;
    margin: 10px;
    display: flex;
    padding: 20px;
}

.hint {
    min-width: 80%;
}

.time {
    height: 50px;
    width: 50px;
    border-radius: 25%;
    background-color: var(--button);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 15px;
}


input {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    outline: none;
    border: 1px solid var(--background);
    padding: 10px;
    font-size: 15px;
}

.buttons {
    display: flex;
    padding: 10px;
    margin: 20px;
    justify-content: space-between;
}

.button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--button);
    margin: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.buttons .refresh-word:hover,
.check-word:hover,
.start:hover {
    background-color: #888092;
}