*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    /* font-size:large; */
    font-weight: 700;
}
body{
    background-color: cornflowerblue;
    margin: 0;
}
.container{
    position: absolute;
    height: 70%;
    width: 60%;
    top: 15%;
    left: 20%;
    display: flex;
    padding:10px;
    background-color: white;
    justify-content: space-evenly;
    border-radius: 30px;
    border: 3px solid black;
    z-index: 2;
}
.draw{
    /* background-color:violet; */
    position: absolute;
    width: 50%;
    left:0%;
    /* height: 100%; */
}
.solve{
    /* background-color:blueviolet; */
    position: absolute;
    width: 50%;
    display:flex;
    flex-direction:column;
    height:100%;
    margin:5px;
    right:0%;
    margin:10px;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: large;
}
.letters{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* position: absolute; */
    /* bottom:0%; */
}
.letters button{
    height:2.5rem;
    width:2.5rem;
    background-color: rgb(100, 149, 237, 0.65);
    /* color: white; */
    margin:5px;
    border-radius: 5px;
    font-size:large;
    text-transform: uppercase;
}
.letters button:hover{
    color: white;
    background-color: cornflowerblue;
}
.draw{
    margin:10px;
    display: flex;
    align-content: center;
}
.draw img{
    width: 70%;
}
.blanks ul{
    display: flex;
}
.fillLetter{
    list-style: none;
    border-bottom: 2px solid black;
    width: 20px;
    height:30px;
    margin:5px;
    text-transform: uppercase;
    font-size: larger;
}
/* .fillLetter.correct{
    color:#42d342;
    border-bottom: 2px solid #42d342;
}
.fillLetter.wrong{
    color: red;
    border-bottom: red 2px solid;
} */
.popup{
    position: absolute;
    display: flex;
    flex-direction:column;
    text-align: center; 
    z-index: 20;
    height:70%;
    width:30%;
    background-color: white;
    border-radius: 30px;
    border: 3px solid black;
    font-size: larger;
    left:35%;
    top:15%;
    justify-content: space-evenly;
    /* background-color: grey; */
    background-color: white;
    z-index: -1;
}
.popup img{
    width:150px;
}
.popup .msg{
    font-size: xx-large ;
}
.playagain button{
    height:3rem;
    font-weight: 700;
    font-size: large;
    width:8rem;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.playagain2 button{
    height:3rem;
    font-weight: 700;
    font-size: large;
    width:8rem;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.pop{
    z-index: 200;
}
.cover{
    height: 100vh;
    width:100vw;
    position: fixed;
    background-color: rgb(0,0,0,0.7);
    margin:0%;
    padding: 0%;
    z-index: 50;
    display: none;
}