*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #f2f2f2;
}

.slide{
    height: 100%;
    width: 250px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-250px);
}
.slide .sidebar{
    font-size: 20px;
    letter-spacing: 1px;
}
h1{
    color: #fefefe;
    font-weight: 800;
    font-family:'Times New Roman', Times, serif;
    text-align: right;
    padding: 10px 0;
    padding-right: 70px;
    pointer-events: none;
    background-color: rgb(0, 132, 255);
}
ul{
    height: 100%;
    width: 100%;
}
ul li{
   list-style: none;
   line-height: 50px;   
   border-bottom: 1px solid rgba(7, 6, 6, 0.1);
   border-top: 1px solid rgba(7, 6, 6, 0.1);
}
ul li a{
    color:#011a41;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    padding-left: 40px;
    display: block;
    text-decoration: none;
    transition: 0.2s ease-out;
    list-style: none;  
}

ul li a:hover{
    color:cyan;
    background-color:#190ccc
}

ul ul{
    position:static;
}
ul ul li{
    line-height: 40px;
    border-bottom: none;
    padding-left: 50px;
    background-color: rgb(225, 233, 230);
}
ul ul li:hover a{
    font-size: 17px;
    color: cyan;
    line-height: 30px;
}


input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle{
    position:absolute;
    height: 30px;
    width: 30px;
    top: 15px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.toggle .common{
    position:absolute;
    height: 2px;
    width: 20px;
    background-color:#190ccc;
    border-radius: 50px;
    transition: 0.3s ease; 
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line{
   opacity: 0;
    transform: translateX(20px);
}
input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}












