*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #7ecbf4;    
}

.container
{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background: #167ac2;
    border-radius: 1em;;
    padding: 45px 60px;        
}

h1
{
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset
{
    padding: 15px 20px;
    color: #0a0a0c;
    background: #fff;
    border: none;
    border-radius: 1em;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus
{
    color: #ffffff;
    background: #033a87;
}

.game
{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;

}

.item
{
    position: relative;
    width:100px;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #ffffff;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item.boxOpen
{
    transform:rotateY(0deg);
}
.item::after
{
    content: '';
    position:absolute;
    inset: 0;
    background: #1aa2ec;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;

}
.boxOpen:after ,
.boxMatch:after
{
    transform: rotateY(180deg);
}
